.ant-menu.headerEdit {
    background-color: #1E1C1C !important;
}

div > .ant-menu-horizontal {    border-bottom: 1px solid transparent;}

.ant-menu-horizontal > .ant-menu-item > a {
    color: #ffffff ;
}

.submenu-title-wrapper.editColor {
    color: #ffffff ;
}

.ant-menu-item {
    color: #1E1C1C;
}

/* .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected  {
    background-color: transparent;
    color: #1E1C1C !important;
} */

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected.dropChild {
    color: #1890ff;
    background: orange ;
}

/* className="mobileFont" */

/* .ant-menu-item-selected {} */

.ant-menu-item.wFont {
    color: #1E1C1C !important;
}



.reshapeDiv{
    position: absolute;
    top: 0px;
    right: 40px;
}


.addJobTitle{
    position: absolute;
    top: 10px;
    /* transform: translateY(-34%); */
    right: 1px;
    color: white;
}

@media (min-width: 768px) {
    .navigationState{ display: block; }
    .mobileMenu{display: none}
    }



    @media (max-width: 768px) {
        .navigationState{ display: none; }
        .mobileMenu{display: block}


        .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected.mobileMenu  {
            border-bottom: 0px solid transparent !important;
        }

        .ant-menu-submenu.ant-menu-submenu-popup.ant-menu-light {
            display: none;
        }
        .removeSubMenu {
           
        }
        }

   